{% include "website/header.html" %}
<main>
    <aside>
        <h2>Latest Login Attempts</h2>
    </aside>
    <section>
        <h1>Logins By Country</h1>
    </section>
    <section>
        <h1>Logins By Day</h1>
    </section>
    <section>
        <h1>Logins By Hour</h1>
    </section>
    <section>
        <h1>Top x Usernames</h1>
        <ul>
            <li>username1</li>
            <li>username2</li>
        </ul>
    </section>
    <section>
        <h1>Top x Passwords</h1>
        <ul>
            <li>password1</li>
            <li>password2</li>
        </ul>
    </section>
    <section>
        <h1>Top x Username/Password Combinations</h1>
    </section>
</main>
{% include "website/footer.html" %}
